html {
    background-color: #d3eaf2;
}


img { 

    display: block;
    margin: 0 auto;
    width: 30vw;
    text-align: left;
  }

  body {
    text-align: left;

    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px 20px 20px 20px;
  }

  #duckSays
   {
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: left;
    font-size: 20px;
  }

  .ask
   {
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: left;
    font-size: 20px;

  }
  input[type="text"] {
    font-size:20px;
    font-family: "helvetica neue", helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: left;
    font-size: 20px;
}